*{
     box-sizing: border-box;
     scrollbar-width: none;
}
body{
     height: 100dvh;
     width: 100vw;
     position: relative;
}

.hide-navbar{
     transform: translateX(-100%);
     transition: transform 0.3s ease-in-out;
}

.show-navbar{
     transform: translateX(0);
     transition: transform 0.3s ease-in-out;
}
